.navbar {
  height: 99px;
  z-index: -1;
  display: flex;
  justify-content: center;
  width: 100%;
  box-shadow: 0px 0px 4px rgba(145, 158, 171, 0.24), 0px 16px 32px -4px rgba(145, 158, 171, 0.24);

}
.navbar a {
  text-decoration: none;
  color: #008475;
}
.navbar .container {
  position: relative;
}
.navbar .data {
  position: absolute;
  height: 52px;
  top: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.data .logo {
  width: 10%;
  height: 32px;
  line-height: 40px;
}
.menyu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  width: 90%;
  height: 52px;
  top: 22px;
}

.Links ul {
  display: flex;
  justify-content: space-between;
  color: #82828b;
  margin-right: 30px;
}
.Links ul li a {
  color: #82828b;
}
.Links ul li a:hover {
  color: red;
}
.Links ul li:active {
  transform: scale(0.9);
}
.Search_cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Search_cart .navbar_search {
  display: flex;
  align-items: center;
  border: 1px solid #afb1bd;
  box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
}
.navbar_search input {
  border: none;
  outline: none;
  width: 80%;
}
.navbar_icon {
  width: 36px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Search_cart .card {
  background-color: #f46036;
  display: flex;
  align-items: center;
  width: 56px;
  left: 0;
  top: 0;
  justify-content: space-around;
  border-radius: 8px;
}
.navbar_button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar_button .button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  background: #008475;
  border-radius: 8px;
  flex: none;
  order: 3;
  flex-grow: 0;
  color: white;
  cursor: pointer;
  border: none;
  width: 160px;
  height: 52px;
}
.card .icon img {
  width: 18px;
}
.card .icon img:active {
  transform: scale(0.9);
}
.card .text img {
  top: 0;
}
.registir_img {
  position: relative;
  margin-right: 30px;
  display: none;
}
.Search_cart .text {
  color: white;
}
@media (min-width: 320px) {
  .navbar {
    height: 60px;
  }
  .navbar .data {
    top: 0;
  }
  .navbar .container {
    width: 96%;
  }
  .menyu {
    display: none;
  }

  .data .logo {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .data .logo img {
    width: 60px;
    height: 30px;
  }
}
@media (min-width: 576px) {
  .menyu {
    display: none;
    justify-content: center;
  }
  .navbar .container {
    width: 95%;
  }
}
@media (min-width: 768px) {
  .data .logo {
    width: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .data .logo img {
    width: 30px;
    height: 20px;
  }
  .Links {
    margin-right: 5px;
    width: 40%;
  }
  .Links ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 100%;
  }
  .Links ul li {
    font-size: 12px;
  }
  .Search_cart {
    display: flex;
    margin: 0 10px;
  }
  .Search_cart .card {
    width: 50px;
    height: 30px;
    margin: 0 2.5px;
  }
  .navbar_search {
    width: 150px;
    height: 30px;
  }
  .navbar_icon {
    width: 20%px;
  }

  .menyu {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
  }
  .navbar .container {
    width: 95%;
  }
  .navbar_button .button {
    width: 100px;
    height: 30px;
    padding: 0;
    font-size: 10px;
  }
}
@media (min-width: 900px) {
  .menyu {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
  }
  .navbar {
    height: 99px;
  }
  .navbar .data {
    top: 22px;
  }
  .navbar .container {
    width: 95%;
  }
  .Search_cart .card {
    width: 56px;
    height: 40px;
  }
  .navbar_icon {
    width: 36px;
    height: 30px;
  }

  .logo img {
    width: 45px;
  }
  .navbar_button .button {
    width: 160px;
    height: 52px;
    font-size: 14px;
  }
  .Links ul {
    display: flex;
    justify-content: space-between;
  }
  .Links ul li {
    font-size: 14px;
  }
  .data .logo img {
    width: 55.28px;
    height: 25px;
  }
  .navbar_search{
    width: 200px;
    height: 40px;
    margin-left: 20px;
  }

}
@media (min-width: 1200px) {
  .navbar .container {
    width: 1200px;
    margin: 0 auto;
  }
  .data .logo {
    width: 20%;
  }

  .Links ul {
    display: flex;
    justify-content: space-around;
  }
}
