.ProductsInfo {
  position: relative;
}
.Pages_Info {
  display: grid;
  grid-template-columns: 700px 500px;
  margin-top: 73px;
}

.big_img {
  width: 618px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  height: 389px;
  background: #edebe9;
  border-radius: 16px;
}
.big_img img {
  width: 350px;
  height: 300px;
}
.smill_img {
  display: flex;
  justify-content: space-between;
  width: 618px;
  height: 182px;
  margin-top: 37px;
}
.smill_img .butun_pajs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 182px;
  height: 182px;
  background: #edebe9;
  border-radius: 16px;
  position: relative;
}
.smill_img > .butun_pajs img {
  width: 150px;
  height: 128px;
}

.Write_Review {
  width: 618px;
  margin-top: 60px;
}
.Write_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Write_title h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}
.Write_title .Range {
  width: 98px;
  height: 48px;
  border: 1px solid #afb1bd;
  box-sizing: border-box;
  border-radius: 8px;
}
.Range {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.Range img {
  width: 14px;
}
.Range img:hover {
  font-weight: 600;
  color: blue;
  cursor: pointer;
  font-size: 15px;
}
.Write_title .Range p {
  font-weight: 600;
  font-size: 24px;
  color: #f46036;
  margin: 0;
  line-height: 42px;
}
.Write_title .Range p span {
  font-size: 15px;
}
.Write_massage textarea {
  border: 1px solid #afb1bd;
  box-sizing: border-box;
  border-radius: 8px;
  width: 618px;
  height: 150px;
  padding: 10px 12px;
  outline: none;
  size: none;
  color: black;
  font-size: 18px;
  font-weight: 800;
}
.Write_batton {
  width: 618px;
  display: flex;
  justify-content: space-between;
}
.Write_batton input {
  border: 1px solid #afb1bd;
  box-sizing: border-box;
  border-radius: 8px;
  width: 220px;
  height: 40px;
  padding: 10px 12px;
  margin-top: 12px;
  outline: none;
}
.Write_batton button {
  background: #f46036;
  border-radius: 8px;
  width: 119px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  border: none;
  outline: none;
  cursor: pointer;
  color: wheat;
  margin-top: 6px;
}
.Write_batton form input:nth-child(2) {
  margin-left: 10px;
}
.info {
  position: relative;
}
.info .img_name {
  width: 400px;
}
.info .img_name h2 {
  font-family: "Galano Grotesque";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  margin-bottom: 5px;
}
.img_name p {
  margin: 0;
}
.img_name .page_money {
  display: flex;
}
.img_name .page_money p:nth-child(1) {
  width: 115px;
  height: 48px;
  background: rgba(244, 96, 54, 0.1);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f46036;
  font-weight: 500;
  font-size: 24px;
  margin: 16px 16px 16px 0;
}
.img_name .page_money p:nth-child(2) span:nth-child(1) {
  display: block;
  font-size: 20px;
  line-height: 27px;
  color: #1b998b;
  margin-top: 16px;
}
.img_name .page_money p:nth-child(2) span:nth-child(2) {
  font-size: 16px;
  line-height: 22px;

  color: #82828b;
}
.img_name .eliment_money {
  font-family: Galano Grotesque;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #82828b;
}
.img_name .eliment_info {
  font-size: 16px;
  line-height: 22px;
  color: #82828b;
  margin-top: 20px;
}
.page_footer {
  width: 100%;
  display: flex;
  margin-top: 30px;
  align-items: center;
  justify-content: space-between;
}
.page_footer ul {
  display: flex;
  padding: 0;
  justify-content: space-between;
}
.btn_produc button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  width: 226px;
  height: 64px;
  background: #f46036;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  font-weight: 500;
  font-size: 24px;
}
.Add_produc ul li:nth-child(2) {
  font-size: 30px;
}
.Add_produc ul li {
  margin-right: 16px;
}
.item_add {
  background-color: #1b998b;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 5px;
}
.item_clos {
  background-color: #f46036;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 5px;
}
.img_Reviews {
  width: 492px;
  height: 589px;
  position: relative;
}

.reviwes_taitl {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reviews_btn img {
  margin: 0 5px;
}
.reviwe1 {
  display: flex;
  align-items: center;
  width: 491px;
  flex-direction: column;
  height: 252px;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(145, 158, 171, 0.24),
    0px 16px 32px -4px rgba(145, 158, 171, 0.24);
  border-radius: 16px;
}
.reviwe1_taitl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 440px;
  margin: 0 auto;
  margin-top: 24px;
}
.reviwes_taitl h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 49px;
  color: #000000;
}
.reviwe2 {
  width: 491px;
  height: 252px;
  background: #ffffff;
  margin-top: 24px;
  box-shadow: 0px 0px 4px rgba(145, 158, 171, 0.24),
    0px 16px 32px -4px rgba(145, 158, 171, 0.24);
  border-radius: 16px;
}
.frame {
  display: flex;
}
.frame img {
  border-radius: 10px;
  width: 50px;
  height: 50px;
  margin-top: 10px;
  margin-right: 10px;
}
.frame p {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
}
.frame2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 69px;
  height: 48px;
  background: rgba(244, 96, 54, 0.1);
  border-radius: 8px;
}
.frame2 p {
  color: #f46036;
  font-weight: 600;
  font-size: 14px;
  margin: 0;
}
.frame2 p span {
  font-size: 24px;
}
.reviwe1_info {
  width: 420px;
  margin-top: 10px;
}
.reviwe1_info h2 {
  font-weight: 600;
  font-size: 24px;
  margin: 0;
  margin: 8px 0px;
  color: #000000;
}
.reviwe1_info p {
  font-size: 16px;
  line-height: 22px;
  color: #82828b;
  margin: 8px 0px;
}
.active {
  margin-top: 24px;
}
.Realtiv_products {
  position: relative;
  width: 100%;
  top: 100px;
}
.Realtiv_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-row-gap: 130px;
  grid-column-gap: 10px;
  margin-top: 50px;
}
.Realtiv_taitl {
  display: flex;
  justify-content: space-between;
}
.Realtiv_taitl h2 {
  font-weight: bold;
  font-size: 32px;
  line-height: 43px;
  margin-bottom: 50px;
}
.Realtiv_chaild {
  display: flex;
  width: 300px;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
}
.Realtiv_chaild img {
  width: 19px;
  height: 13px;
  cursor: pointer;
}
.Realtiv_chaild p {
  margin-right: 20px;
}
