.ProductsInfo {
  position: relative;
  margin-top: 73px;
}
.Product_Info {
  position: relative;
  padding: 0;
  width: 100%;
}
/*Images*/
.Images {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#ImgDiv {
  background: #edebe9;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 100%;
}
.Overlay {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 32px;
}
.Overlay div {
  background: #edebe9;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  padding: 5px 0;
  width: 30%;
}
.Overlay div img {
  width: 90px;
}
/*Images_info*/
.Images_info {
  width: 100%;
}
.Images_info h1 {
  font-size: 20px;
}
.Images_monys {
  display: flex;
  align-items: flex-end;
}
.Images_monys p {
  margin: 0;
}
.Images_monys .mony small {
  font-size: 12px;
  line-height: 30px;
  color: #82828b;
}
.Images_monys .mony span {
  background: rgba(244, 96, 54, 0.1);
  border-radius: 4px;
  padding: 5px 10px;
  margin-top: 10px;
  color: #f46036;
}
.prosent {
  position: relative;
  left: 30px;
}
.prosent small {
  font-size: 12px;
  line-height: 18px;
  color: #1b998b;
}
.prosent span {
  color: #82828b;
}
._info {
  font-size: 12px;
  line-height: 22px;
  color: #82828b;
}
.Images_btn {
  display: flex;
}
.add_close {
  display: flex;
  margin-right: 50px;
  align-items: center;
}
.add_close p {
  margin: 0 6px;
}
.Images_btn button {
  width: 100px;
  height: 34px;
  background: #f46036;
  border-radius: 8px;
  border: none;
  outline: none;
  color: white;
}
.Images_btn button:active {
  transform: scale(0.95);
}
/*Write_Review*/
.Write_Review {
  position: relative;
  width: 100%;
}
.Write_title {
  display: flex;
  justify-content: space-between;
}
.Write_title h1 {
  font-size: 20px;
}
.Write_icon {
  display: flex;
  align-items: center;
}
.Write_icon .Route {
  border: 1px solid #afb1bd;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 5px 8px;
  display: flex;
  align-items: center;
  color: #f46036;
}
.Route .Route_icon {
  margin-left: 5px;
  color: black;
  cursor: pointer;
}
.Write_area textarea {
  width: 100%;
  outline: none;
  order: 1px solid #afb1bd;
  box-sizing: border-box;
  border-radius: 8px;
  margin: 10px 0;
}
.Write_form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.Write_input input {
  border: 1px solid #afb1bd;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 5px;
  margin: 2px 0;
  font-size: 12px;
  outline: none;
}
.Write_form button {
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  background-color: #f46036;
  border-radius: 5px;
  width: 119px;
  height: 34px;
}
/*Rewiews*/

.Rewiews{
  margin-top: -100px;
}
.Rewiews_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Rewiews_title h1 {
  font-size: 20px;
}
.Rewiwes_title_icon {
  display: flex;
}
.Rewiwes_title_icon div {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  margin: 0 5px;
  cursor: pointer;
}
.Rewiwes_title_icon div img {
  width: 14px;
}
.Rewiwes_add {
  background-color: #1b998b;
}
.Rewiwes_remov {
  background-color: #f46036;
}
.Rewiews_info {
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(145, 158, 171, 0.24),
    0px 16px 32px -4px rgba(145, 158, 171, 0.24);
  border-radius: 16px;
  margin-top: 12px;
  padding: 25px 0;
}
.Message_person_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0px auto;
}
.person_img {
  display: flex;
  align-items: center;
}
.person_img h1 {
  font-size: 16px;
  margin-left: 20px;
}
.person_img img {
  border-radius: 8px;
}
.Message_icon {
  background: rgba(244, 96, 54, 0.1);
  border-radius: 8px;
  padding: 5px 10px;
}
.Message_icon span {
  color: #f46036;
}
.Message_icon small {
  font-size: 10px;
}
.Message_persn_info {
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
}
.Message_persn_info h1 {
  font-size: 16px;
}
.Message_persn_info p {
  font-size: 14px;
  line-height: 22px;
  color: #82828b;
}
.Related_Products{
  width: 100%;
  position: relative;
  margin-top:50px;
}
.Related_Products_title{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.Related_Products_title h1{
  font-size: 20px;
}
.Related_Products_title p{
  font-size: 12px;
  display: flex;
  align-items: center;
  color: red;
}
.Related_Products_title p img{
  margin: 0 5px;
  width: 12px;
}
.Related_Products_eliments{
  display: grid;
  grid-template-columns: 300px;
  margin: 100px 0;
  grid-gap:100px 10px;
  justify-content: center;
  align-items: center;
}
.Product_boxs{
  position: relative;
  display: flex;
  flex-direction: column;
}

@media (min-width:320px){
  .Rewiews{
    margin-top: 10px;
  }
}

@media (min-width:576px){
  .Related_Products_eliments{
    grid-template-columns: repeat(2,300px);
    grid-column-gap:2px;
    justify-content: center;
  }
  .Product_Info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .Images{
    width: 50%;
  }
  .Images_info{
    width: 45%;
  }
  .Write_Review{
    width: 50%;
  }
  .Product_boxs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .Rewiews{
    width: 45%;
    margin-top: -100px;
  }
}
@media (min-width:768px){
  .Related_Products_eliments{
    grid-template-columns: repeat(2,300px);
    grid-column-gap:2px;
    justify-content: center;
  }
}
@media (min-width:900px){
  #ImgDiv{
    width: 100%;
    height: 280px;
  }
  #ImgDiv img{
    width: 300px;
    height: 250px;
  }
  .Overlay{
    display: flex;
    justify-content: space-between;
  }
  .Overlay div{
    height: 120px;
    width: 120px;
  }
  .Images_info h1{
    font-size: 30px;
  }
  .mony
  .mony small{
    font-size: 20px;
  }
  .mony span{
    font-size: 20px;
    border-radius: 20px;
  }
  .prosent small{
    font-size: 16px;
  }
  ._info p{
    line-height: 25px;
    font-size: 18px;
  }
  .Images_btn button{
    width: 120px;
    height: 40px;
  }
  .Related_Products_eliments{
    grid-template-columns: repeat(3,300px);
    grid-column-gap:2px;
    justify-content: center;
  }
  .Rewiews{
    margin-top: -150px;
  }

}
@media (min-width:1200px){
  #ImgDiv{
    width: 100%;
    height: 300px;
  }
  #ImgDiv img{
    width: 350px;
    height: 300px;
  }
  .Overlay div {
    height: 182px;
    width: 182px;
    border-radius: 16px;
  }
  .Overlay div img{
    width: 150px;
    height: 128px;
  }
  .Images_info h1{
    font-size: 35px;
  }
  ._info p{
    line-height: 30px;
  }
  .Images_btn{
    margin-top: 25px;
  }
  .Images_btn button{
    width: 226px;
    height: 64px;
    background: #F46036;
    border-radius: 8px;
    font-size: 16px;

  }
  .Rewiews{
    margin-top: -200px;
  }
  .Rewiews_title  h1{
    font-size: 25px;
  }
  .Related_Products_eliments{
    grid-template-columns: repeat(4,300px);
    grid-column-gap:2px;
    justify-content: center;
  }
  
}